$sc:25;
@mixin slh(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
html{
    width:100%;
    height: 100%;
    body{
        margin:0;
        margin-bottom:50/$sc+rem;
        header{
            position:fixed;
            width:100%;
            background: darkgreen;
            height: 50/$sc+rem;
            top:0;
            z-index:5;
        }
        section{
            @extend html;
            margin-top:50/$sc+rem;
        }
        footer{
            width:100%;
            height: 50/$sc+rem;
            background: darkgreen;
            position:fixed;
            bottom: 0;
        }
        ul{
            li{
                position:relative;
                @include slh();
                box-sizing: border-box;
                padding-left: 50/$sc+rem;
                padding-right:80/$sc+rem;
                img{
                    width:30/$sc+rem;
                }
                span{
                    position: absolute;
                    right:10/$sc+rem;
                }
                img{
                    position:absolute;
                    left:10/$sc+rem;
                }
            }
        }
    }
    
}
