$fontStack:    Helvetica, sans-serif;
$primaryColor: #333;

body {
  font-family: $fontStack;
  color: $primaryColor;

  
  
  header{
    width: 100px;
    height: 100px;  
    ul{
        list-style: none;        
        li{
            
        }
    }      
  }
  
  
  
  
  
}